.hero {
    height: 100vh;

    @media screen and (min-width: 764px) {
        height: 100vh;
    }

    &__container {
        display: flex;
        height: 100%;
        flex-direction: column;

        @media screen and (min-width: 764px) {
            flex-direction: row;
        }
    }

    &__left-column {
        flex: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .hero-text {
            max-width: 90%;

            // h4 {
            //     animation: rollUp;
            //     animation-duration: 2s;
            //     animation-delay: .5s;
            // }

            .rollBoi1{
                animation: rollUp;
                animation-duration: 2s;
                animation-delay: 1s;
            }

            .rollBoi2 {
                animation: rollUp;
                animation-duration: 2s;
                animation-delay: 2s;
            }

            .rollBoi3 {
                animation: rollUp;
                animation-duration: 2s;
                animation-delay: 3s;
            }

            .rollBoi4 {
                animation: rollUp;
                animation-duration: 2s;
                animation-delay: 4s;
            }

            .fadeInBoi1 {
                animation: fadeInBoi;
                animation-duration: 3s;
                animation-delay: 0;
            }

            .fadeInBoi2 {
                animation: fadeInBoi;
                animation-duration: 4s;
                animation-delay: 0;
            }

            .fadeInBoi3 {
                animation: fadeInBoi;
                animation-duration: 6s;
                animation-delay: 0;
            }

            .fadeInBoi4 {
                animation: fadeInBoi;
                animation-duration: 8s;
                animation-delay: 0;
            }

            h4 {
                margin: 0;
            }

            .heroSpan {
                margin-left: 57px;
            }

            // span {
            //     animation: rollUp;
            //     animation-duration: 1s;
            //     animation-delay: .5s;
            // }

            @media screen and (min-width: 764px) {
                max-width: 375px;
            }
        }
    }

    &__right-column {

        img {
            height: 300px;
            width: 100%;
            object-fit: cover;
            object-position: 0px -90px;

            @media screen and (min-width: 764px) {
                height: 100%
            }
        }

        @media screen and (min-width: 764px) {
            flex: 50%;
        }
    }

    .text-seperator {
        position: relative;
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        height: 9px;
        margin-top: 2px;

        span {
            width: 63px;
            display: block;
            background-color: $secondaryColor;
            height: 9px;
        }
    }
}